* {
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif, 'Helvetica Neue';
    width: 960px;
    color: #777;
    background: #777;
    font-size: 18px;
}

.col-container {
    padding: 0px;
    display: table;
    background: #777;
}

.headerCl {
    background-color:#ebebeb;
}

.navCl {
    background-color:#ebebeb;
}

.sectionCl {
    background-color:#ebebeb;
    width: 495px;
    display: table-cell;
}

.articleCl {
    background-color: grey;
    color: white;
}

.hxCl {
    background-color: white;
    color: #777;
}

.pxCl {
    background-color: white;
    color: #777;
}

.asideCl {
    background-color:#ebebeb;
    width: 450px;
    display: table-cell;
    border-left: 5px solid #777;
}

.footerCl {
    background-color:#ebebeb;
}